<div class="container">
    <form class="pt-2">

        <div class="d-flex">
            <input type="text" class="form-control mb-2" placeholder="Video title" #searchInput />

            <button (click)="sendSearchRequest(searchInput)" class="btn btn-primary col-sm-2 px-2 mb-2 ml-2">Search</button>
        </div>
    </form>
</div>

<!-- https://github.com/orizens/ngx-infinite-scroll -->
<div class="search-results" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()">
    <video-component *ngFor="let video of videoResults" [video]="video" (click)="startPlayback(video)">
    </video-component>
</div>