div {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.video-result {
    clear:both;
    width:100%;
}

.spacer {
    margin: 10px;
    overflow: hidden;
    height:108px;
    background-color: aliceblue;
}

.video-image {
    float:left;
    overflow:hidden;
    background-color: cadetblue;
}

.video-image img{
    width:192px;
    height:108px;
}

.video-text {
    width:auto;
    overflow:hidden;
    padding:10px;
}

.video-name {
}

.video-description {
    margin-top: 5px;
    font-size: 11px;
}